### 181. Формирование заплывов

Помогите расставить участников соревнований по плаванию. Заплывы формируются по стандартной системе:

    В заплыве восемь дорожек.

    Известно заявочное время каждого участника (по этому времени участники распределяются по заплывам).

    Сначала идут слабейшие заплывы.

    Внутри заплыва участники расставляются по правилу клина: сильнейшие в центре (лучший заявочный результат - на четвертой дорожке), слабейшие по краям (худший заявочный результат - на восьмой дорожке).

    Считайте, что заплывы смешанные и разделения участников по полу нет, заявочное время разное у всех участников.

После публикации стартовых протоколов оказалось, что одна команда из восьми человек опоздала и её надо срочно добавить в списки. Напишите алгоритм, с помощью которого по громкой связи можно объявить в каких заплывах и по какой дорожке будет плыть каждый участник опоздавшей команды.

Выведите опоздавших участников в первоначальном порядке с указанием заплыва и номера дорожки через запятую.

In [1]:
import pandas as pd
df = pd.read_csv('D:\\ds\\heats.csv')

In [2]:
df.tail(10)

    heat   id  time
14     1  207  27.6
15     1  208  27.9
16     2  101  26.6
17     2  102  26.3
18     2  103  25.5
19     2  104  25.0
20     2  105  25.1
21     2  106  25.9
22     2  107  26.4
23     2  108  26.7

Сортирую все данные по убыванию заявочного времени.

In [3]:
df = df.sort_values(by='time', ascending=False)

Чтоб сформировать новые заплывы, поделю данные на три равных квантиля.

In [4]:
df['new_heat'] = pd.qcut(df['time'], q=3, labels=[3, 2, 1])

Теперь нужно расставить участников внутри заплыва "клином", в соответствии с условием задачи, и присвоить каждому участнику номер дорожки.

In [5]:
new_order = [1, 3, 5, 7, 6, 4, 2, 0]

for i in range(1,4):
    df.loc[df['new_heat'] == i, ['id', 'time', 'heat']] = \
    df.loc[df['new_heat'] == i, ['id', 'time', 'heat']].iloc[new_order].values
    df.loc[df['new_heat'] == i, 'track'] = range(1, 9)
df[['heat', 'id', 'track']] = df[['heat', 'id', 'track']].astype(int)

Вывожу на экран нужный результат и привожу его к требуемому формату.

In [9]:
print((
    df.query('heat == 0')[['id', 'new_heat', 'track']]
    .sort_values(by='id')
    .to_string(index=False, header=False)
    .replace(' ', ',')
))

301,3,6
302,3,4
303,1,8
304,1,1
305,2,1
306,2,2
307,1,2
308,1,7